@{
    ViewData["Title"] = "Home Page";
}

<!-- [1.1]: Criando nosso projeto MVC -->

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>Use os menus acima para navegar</p>
</div>
